
* {
    box-sizing: border-box nao permite que a caixa cresça nao mudara configuração de width e height;

}

.box {
    width: 100px;
    height: 100px;
    background: rgb(224, 44, 16);
    padding: 20px;
    border: 10px solid #0000ff
}